body {
  background-image: url(./assets/garden.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px; /* Added padding for better spacing */
  box-sizing: border-box; /* Ensure padding and borders are included in total width and height */
}

.clock-container {
  backdrop-filter: blur(5px);
  width: 100%;
  padding: 20px 10px; /* Adjusted padding for better spacing */
  box-sizing: border-box; /* Ensure padding is included in total width */
  display: flex;
  justify-content: center; /* Center the clock */
  align-items: center; /* Center the clock */
  text-align: center; /* Center the clock */
}

.clock {
  color: white;
  font-size: 4rem; /* Adjusted font size for better readability on smaller screens */
  font-weight: bold;
  font-family: monospace;
  text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.75);
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
  .clock {
    font-size: 3rem; /* Further reduced font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .clock {
    font-size: 2rem; /* Further reduced font size for very small screens */
  }
}
